@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fredoka+One&family=Noto+Sans+TC&display=swap');
body{
	font-family: 'Noto Sans TC', sans-serif;
}
.table th {
	text-align: center;
}

.table td {
	text-align: center;
}

.table {
	margin-top: 0.75rem;
}

.container {
	width: 40%;
}

.leaderboard_loader {
	text-align: center;
	margin: 0 auto;
	font-size: 1.5rem;
}

.contain {
	padding-top: 10px;
	left: 50%;
	transform: translate(-50%, +5%);
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	padding: 10px;
	margin: 10px;
}
