.PSmodelPaper {
    margin: 0px auto;
    text-align: center;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.PSmodelPaperInner {
    margin: 20px auto;
    text-align: center;
    max-width: 900px;
}

.PSmodalMinimizebtn {
    margin-top: 0px;
}

.PSpageWrapper {
    padding-top: 10px;
    left: 50%;
    transform: translate(-50%, +5%);
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
    width: 100%;
    color: #104e8b;
    position: relative;
    margin-bottom: 100px;
}

.PStablePaper {
    background-color: #eeeeff;
    position: relative;
    color: #104e8b;
}