.submissionsTableWrap {
    padding-top: 10px;
    left: 50%;
    transform: translate(-50%, +5%);
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
    width: 100%;
    font-size: 16px;
    position: relative;
    margin-bottom: 100px;
    margin-top: 0px;
}

.PSmodelPaper {
    margin: 0px auto;
    text-align: center;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.PSmodelPaperInner {
    margin: 20px auto;
    text-align: center;
    max-width: 900px;
}

.PSmodalMinimizebtn {
    margin-top: 0px;
}

.PSmodal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.PSpageWrapper {
    padding-top: 10px;
    left: 50%;
    transform: translate(-50%, +5%);
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding: 10px;
    margin: 10px;
    max-width: 1000px;
    width: 100%;
    color: #104e8b;
    position: relative;
    margin-bottom: 100px;
}


.PSpaper{
    background-color: #fff;
    border : 2px solid #104e8b;
    border-top: 10px solid #104e8b;
    border-bottom: 10px solid #104e8b;
    outline: none;
    padding: 30px;
    border-radius: 20px;
    min-width: 70%;
    min-height: 90%;
    color: #104e8b;
    overflow: auto;
  }

.PStablePaper {
    background-color: #eeeeff;
    position: relative;
    color: #104e8b;
}