SECRET_KEY=yourkeyhere
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, localhost
GOOGLE_CLIENT_ID=google_client
GOOGLE_CLIENT_SECRET=google_secret_key
GITHUB_CLIENT_ID=github_id
GITHUB_CLIENT_SECRET=github_secret
DB_NAME=mydbname
DB_USER=myuser
DB_PASSWORD=yourpass
DB_HOST=localhost
CELERY_BROKER_URL=amqp
AWS_ACCESS_KEY_ID=exampleaccesskey
AWS_SECRET_ACCESS_KEY=examplesecretaccesskey
AWS_STORAGE_BUCKET_NAME=examplebucketname
AWS_S3_REGION_NAME=exampleregionname
