amqp==5.0.5
asgiref==3.3.1
billiard==3.6.3.0
boto3==1.16.40
botocore==1.19.40
cachetools==4.2.1
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==2.9.2
Django==3.1.7
django-celery-results==2.0.1
django-cors-headers==3.7.0
django-froala-editor==3.2.2
django-rest-knox==4.1.0
django-richtextfield==1.5.0
django-storages==1.11
django-tinymce==3.0.2
djangorestframework==3.12.2
google-auth==1.27.0
gunicorn==20.0.4
idna==3.1
importlib-metadata==3.7.0
jmespath==0.10.0
jsonfield==3.1.0
kombu==5.0.2
Pillow==7.1.2
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
redis==3.5.3
requests==2.25.1
rsa==4.7.2
s3transfer==0.3.4
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
urllib3==1.26.3
vine==5.0.0
zipp==3.4.0
