.socialRoot {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialTitle {
    margin-top: 16px,
}

.socialError {
    text-align: center;
}

.Apaper {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #104E8B;
    border-top: 10px solid #104E8B;
    border-bottom: 10px solid #104E8B;
}

.Aform {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Asubmit {
    margin-top: 30px;
}

.AsignInIcon {
    color: white;
}

.AgoogleButton {
    border-color: #104E8B;
    color: #104E8B;
    margin: 20px;
    border-radius: 60px;
    width: 63px;
    height: 63px;
    text-align: center;
}

.AfacebookButton {
    color: white;
    background-color: #104E8B;
    margin: 20px;
    border-radius: 60px;
    /* "&:hover": {
      backgroundColor: "blue",
    } */
    width: 63px;
    height: 63px;
    text-align: center;
}

.AlinkedInButton {
    background-color: #027bb6;
    margin-top: 20px;
    color: white;
    /* "&:hover": {
      backgroundColor: "blue",
    } */
}

.AlinkedInIcon {
    margin-right: 10px;
}

.Abtn {
    width: 200px;
    border-radius: 20px;
    margin: 0 auto
}